.preguntas{
    text-align: center;
    font-size: $textL;
    margin: 20px 0px;
}

.preguntas-indiv{
    margin: 10px;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;  
    padding-bottom: 50px;
}

.form-group{
    margin-bottom: 1.5em;
}

.form-label{
    font-size: $textM;
    color: map-get($map:$paleta,$key:'uno');
    display: block;
    opacity: 1;
}

.form-control{
    box-shadow: none;
    border-radius: 0;
    border-color: map-get($map:$paleta,$key:'cuatro');
    border-style: none none solid none;
    width: $w-100;
    font-family: $fontMain;
    font-size: $textM;
    &::placeholder{
        color: map-get($map:$paleta,$key:'cuatro');
    }
    &:focus{
        box-shadow: none;
        border-color: map-get($map:$paleta,$key:'uno');
        outline: none;
    }
}

.btn{
    background: 0 0 #fff;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: map-get($map:$paleta,$key:'uno');
    font-size: $textS;
    padding: 10px 50px;
    text-transform: uppercase;
    &:hover{
        border-color: map-get($map:$paleta,$key:'uno');
        color: map-get($map:$paleta,$key:'uno');
    }
}

.btn-cards{
    @extend .btn;
    &:hover{
        background-color: map-get($map:$paleta,$key:'cuatro');
    }
}

textarea{
    resize: none;
}

.bgcontacto{
    background-color: map-get($map:$paleta,$key:'cuatro');
}

.talles{
    color: map-get($map:$paleta,$key:'dos');
    justify-content: center;
}