/* tarjetas camisetas */
.cards {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    position: relative;
    margin: 1rem;
    color: map-get($map:$paleta,$key:'dos');
    background-color: map-get($map:$paleta,$key:'uno');
    border-radius: 8px;
    overflow: hidden;
  }
  .card-image {
    width: $w-100;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
  .card-title {
    position: relative;
    padding: 20px 25px 5px;
    font-size: $textL;
    font-weight: $tRegular;
    font-variant-caps: all-petite-caps;
      &:hover {
        card-title:before {
            opacity: 0.8;
            transform: scale(0.6);
          }
      }
  }
 
  .card-description {
    padding: 5px 25px 20px;
    font-size: $textM;
  }

  /* tarjetas camisetas */